/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.banner {
    text-align: center;
    padding: 50px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../static/images/wedding-banner.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    font-family: 'Georgia', serif;
}

.features {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    flex-wrap: wrap;
}

.feature {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 22%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.feature h2 {
    margin-top: 10px;
    color: #333;
    font-size: 1.5rem;
}

.feature p {
    color: #777;
    font-size: 1rem;
}

.feature a {
    display: inline-block;
    margin-top: 15px;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.feature a:hover {
    background-color: #007BFF;
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-top: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

p {
    margin: 10px 0;
    font-size: 1.2rem;
}
