<link rel="stylesheet" href="../static/css/cater.css">
<h1>Catering Options</h1>
<p>Choose from our delicious menus tailored to your taste.</p>
<div class="catering-list">
    <div class="catering">
        <img src="../static/images/trad.jpg" alt="Traditional Menu">
        <h3>Traditional Menu</h3>
        <p>Price: $50 per person</p>
        <p>Includes: Appetizers, Main Course, Dessert</p>
        <p>Enjoy classic dishes that cater to a wide range of tastes, including appetizers, a hearty main course, and delightful desserts.</p>
    </div>
    <div class="catering">
        <img src="../static/images/vegan.jpg" alt="Vegan Menu">
        <h3>Vegan Menu</h3>
        <p>Price: $55 per person</p>
        <p>Includes: Appetizers, Main Course, Dessert</p>
        <p>Our vegan menu features plant-based options for a healthy and delicious meal, including appetizers, a flavorful main course, and vegan desserts.</p>
    </div>
    <div class="catering">
        <img src="../static/images/north.jpg" alt="Gourmet Menu">
        <h3>Gourmet Menu</h3>
        <p>Price: $70 per person</p>
        <p>Includes: Appetizers, Main Course, Dessert</p>
        <p>Indulge in our gourmet menu, which includes premium ingredients and sophisticated flavors, offering a luxurious dining experience with appetizers, a gourmet main course, and exquisite desserts.</p>
    </div>
    <div class="catering">
        <img src="../static/images/non.jpg" alt="Seafood Menu">
        <h3>Seafood Menu</h3>
        <p>Price: $65 per person</p>
        <p>Includes: Appetizers, Main Course, Dessert</p>
        <p>For seafood lovers, our seafood menu includes a variety of fresh seafood options, from appetizers to main courses and desserts.</p>
    </div>
    <div class="catering">
        <img src="../static/images/barbeque.jpg" alt="Barbecue Menu">
        <h3>Barbecue Menu</h3>
        <p>Price: $60 per person</p>
        <p>Includes: Appetizers, Main Course, Dessert</p>
        <p>Enjoy a classic barbecue with a range of grilled meats, sides, and desserts, perfect for a fun and casual wedding reception.</p>
    </div>
</div>


