<link rel="stylesheet" href="../static/css/desti.css">
<h1>Destination Weddings</h1>
<p>Make your wedding an unforgettable experience in one of our beautiful destinations.</p>
<div class="destination-list">
    <div class="destination">
        <img src="../static/images/maldives.jpg" alt="Tropical Paradise" class="destination-image">
        <h3>Tropical Paradise</h3>
        <p>Location: Maldives</p>
        <p>Price: $50,000</p>
    </div>
    <div class="destination">
        <img src="../static/images/swiz.jpg" alt="Mountain Retreat" class="destination-image">
        <h3>Mountain Retreat</h3>
        <p>Location: Switzerland</p>
        <p>Price: $60,000</p>
    </div>
    <div class="destination">
        <img src="../static/images/scot.jpg" alt="Historic Castle" class="destination-image">
        <h3>Historic Castle</h3>
        <p>Location: Scotland</p>
        <p>Price: $70,000</p>
    </div>
</div>

